# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3

# Virtual environments
env/
venv/

# IDE specific files
.idea/
.vscode/

# Node modules
node_modules/
